.curved-loop-jacket {
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 2rem;
  overflow: hidden;
  position: relative;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  height: auto;
  min-width: 100vw;
  overflow: visible;
  display: block;
  font-size: 2rem;
  fill: #111827;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 640px) {
  .curved-loop-svg {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .curved-loop-svg {
    font-size: 4rem;
  }
}

